@use "../../common" as *;

.services {
  padding: 0 30px;

  p {
    color: $color-active-regular;
    text-transform: uppercase;
    font-weight: $font-bold;
  }

  .services-holder {
    display: grid;
    gap: 30px;
    padding-bottom: 60px;
    h2 {
      background: $color-gradient-redtext-reverce;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: $font-size-h2-reg;
      font-weight: $font-bold;
      padding-top: 10px;
      line-height: 36.57px;
    }
    .services-card {
      img {
        background-color: $color-simple;
        border-radius: 24px;
        padding: 14px;
      }
      h3 {
        padding: 30px 0 12px 0;
        color: $color-active-regular;
        font-size: $font-size-h3-reg;
        font-weight: $font-bold;
        line-height: 26.82px;
      }

      p {
        line-height: 26px;
        font-size: $font-size-p;
        text-transform: none;
        color: $color-simple;
      }
    }
  }
}

@include tabletSD {
  .services {
    padding: 0 60px;
    .services-holder {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 60px;
      h2 {
        grid-column: 1/-1;
        font-size: $font-hero;
        line-height: 46.32px;
      }
    }
  }
}

@include tabletHD {
  .services {
    .services-holder {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@include desctopSD {
  .services {
    p {
      font-size: 14px;
    }
  }
}

@include desctopHD {
  .services {
    padding: 0 160px;}
}
