@use "../../common" as *;

main {
  font-family: Montserrat;
  .team {
    padding: 53px 30px 0 30px;
    .slide-holder {
      display: flex;
      gap: 60px;
      overflow: hidden;
      .slide {
        background-color: $color-grey-bg-alt;
        border-radius: 12px;
        min-width: 100%;
        img {
          width: 100%;
          height: 500px;
          border-radius: 12px 12px 0 0;
          object-fit: cover;
          object-position: center;
        }

        p {
          color: $color-active-regular;
          font-size: $font-size-h3-caps;
          text-transform: uppercase;
          font-weight: 700;
          padding: 28px 30px 5px 30px;
          line-height: 17.07px;
          letter-spacing: 1px;
        }

        h2 {
          background: $color-gradient-redtext-reverce;
          background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: $font-size-h2-reg;
          font-weight: $font-bold;
          padding: 0 30px 30px 30px;
          line-height: 36.57px;
        }

        .bio {
          padding-bottom: 22px;
          h3 {
            color: $color-grey-text;
            font-size: $font-size-h4-reg;
            font-weight: $font-bold;
            line-height: 19.5px;
            padding: 0 30px;
          }
          p {
            color: $color-grey-text;
            text-transform: none;
            padding-top: 10px;
            line-height: 22px;
            font-weight: $font-normal;
          }
        }
      }
    }
    .pagination-holder {
      display: flex;
      align-content: center;
      justify-content: center;
      gap: 15px;
      margin-top: 32px;
      a {
        display: block;
        background-color: hwb(205 14% 0% / 0.2);
        width: 16px;
        height: 16px;
        border-radius: 8px;
      }

      a:hover {
        background-color: hsla(205, 100%, 57%, 0.6);
      }
      a:active {
        background-color: $color-active-regular;
      }
      .active {
        background-color: $color-active-regular;
      }
    }
  }
}

@include tabletSD {
  main {
    .team {
      padding: 60px;
      padding-top: 80px;
      .slide-holder {
        .slide {
          .info-holder {
            padding: 30px;
            height: 100%;
            p,
            h2,
            .bio,
            h3 {
              padding: 0;
            }
            h2 {
              font-size: $font-hero;
              line-height: 46.32px;
              padding-bottom: 30px;
            }
            .bio {
              h3 {
                padding-bottom: 6px;
              }
            }
          }
        }
      }
    }
  }

  @include tabletHD {
    main {
      .team {
        padding: 60px;
        padding-top: 80px;
        .slide-holder {
          .slide {
            display: grid;
            height: 528px;
            grid-template-columns: 44.5% 56%;
            grid-template-rows: 100%;
            .image {
              img {
                height: 528px;
                border-radius: 12px 0 0 12px;
              }
            }
          }
        }
      }
    }
  }
}

@include desctopSD {
  main {
    .team {
      padding-top: 80px;
      .slide-holder {
        .slide {
          height: 344px;
          grid-template-columns: 30% 70%;
          .image {
            img {
              height: 344px;
            }
          }
        }
      }
    }
  }
}

@include desctopHD {
  main {
    .team {
      padding: 0 160px;
      padding-top: 60px;
      .slide-holder {
        .slide {
          height: 298px;
          grid-template-columns: 25% 75%;
          .image {
            img {
              height: 298px;
            }
          }
        }
      }
    }
  }
}
